footer {
  position: fixed;
  font-family: 'Cinzel', serif;
  display: block;
  left: 50%;
  bottom: 0;
  transform: translate(-50%, -1rem);
  display: flex;
  flex-direction: column;
  align-items: center;
}

footer section {
  text-align: center;
  font-family: 'Dorsa', sans-serif;
  max-width: 40rem;
}

footer section p {
  font-weight: normal;
  font-size: 1.1rem;
  opacity: 0.6;
  text-transform: uppercase;
}

footer section p em {
  font-size: 1.5rem;
  color: var(--color-white);
  font-style: normal;
}

footer h1 {
  display: flex;
  align-items: center;
  text-transform: uppercase;
}

footer h1 span {
  font-weight: 600;
  font-size: 2.8rem;
  color: var(--color-white);
}

footer h1 span:nth-child(odd) {
  font-size: 3.5rem;
}

footer h1 span
