header {
  z-index: 10;
  position: absolute;
  left: 50%;
  top: 1rem;
  transform: translateX(-50%);
  width: 100%;
  max-width: 45rem;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  text-align: center;
  text-transform: uppercase;
}

header section {
  font-family: 'Dorsa', sans-serif;
  display: flex;
  font-size: 1.1rem;
  opacity: 0.6;
}

header section > * {
  margin: 0 .5rem;
  color: var(--color-white-dark);
}

header section h2 {
  font-weight: normal;
}

header ul {
  list-style: none;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

header ul * {
  font-size: 0.9rem;
}

header ul li {
  display: flex;
  flex-direction: column;
  padding: 0 1em;
  color: var(--color-white-dark);
}

header ul li:hover {
  transform: scale(1.1);
}

header ul li span {
  pointer-events: none;
  color: var(--color-effect);
  opacity: 0;
  filter: blur(0.6em);
  width: auto;
  transform: translateY(100%) scale(2);
}

header ul li:hover span {
  color: var(--color-effect);
  opacity: 1;
  filter: blur(0.01em);
}
