svg, img {
  position: fixed;
  height: 100%;
  left: 50%;
  transform: translateX(-50%);
  pointer-events: none;
  z-index: 5;
}

img {
  z-index: 4;
  opacity: 1;
  animation-name: animate-opacity;
  animation-duration: 5s;
  animation-iteration-count: infinite;
  animation-direction: alternate;
}

@keyframes animate-opacity {
  0% {
    opacity: 0;
    transform: translateX(-50%) scale(3);
  }
  70% {
    opacity: 0;
    transform: translateX(-50%) scale(3);
  }
  80%
  {
    opacity: 1;
    transform: translateX(-50%) scale(1);
  }
}

main {
  max-width: 27rem;
  display: flex;
  margin: 0 auto;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding-top: 100%;
  padding-bottom: 5rem;
  perspective: 100rem;
}

main > * {
  position: sticky;
  display: inline-block;
  color: var(--color-effect);
  text-transform: uppercase;
  line-height: 1em;
  text-shadow: 0 0 0.5rem var(--color-effect);
  text-align: justify;
  padding-bottom: 5rem;
  z-index: 1;
}

/* Children offset */
main > * {
  --base-opacity: 0.5;
  --children-count: 45;
  top: calc(75% / var(--children-count) * var(--child-number));
  transform: translateY(-40%);
  opacity: calc(var(--base-opacity) + calc(1 - var(--base-opacity)) * calc(var(--child-number) / var(--children-count)));
}

/* Cicada randomness */
main > * {
  --cicada-2: 0;
  --cicada-3: 0;
  --cicada-5: 0;
  --cicada-7: 0;
  --cicada-11: 0;
  --cicada-13: 0;
  --cicada-17: 0;
  --cicada-19: 0;

  --cicada: calc(var(--cicada-2) + var(--cicada-3) + var(--cicada-5) + var(--cicada-7) + var(--cicada-11) + var(--cicada-13) + var(--cicada-17) + var(--cicada-19));

  transform:
    rotate(calc(var(--cicada) * 2deg))
    skewX(calc(var(--cicada) * 2deg))
    translateZ(calc(var(--cicada) * 0.4rem));
  font-size: calc(var(--cicada) * 0.1rem + 0.8rem);
}

main h2 {
  padding: 0;
  margin: 0;
  font-size: 1.6em;
  text-align: center;
}

main > *:nth-child(2n) {
  --cicada-2: -1.21;
  font-style: italic;
}

main > *:nth-child(3n) {
  --cicada-3: 3.43;
  text-align: justify;
}

main > *:nth-child(5n) {
  --cicada-5: 4.23;
  font-family: 'Dorsa', sans-serif;
  text-align: center;
}

main > *:nth-child(7n) {
  --cicada-7: 6.77;
  font-weight: normal;
}

main > *:nth-child(11n) {
  --cicada-11: -1.50;
}

main > *:nth-child(13n) {
  --cicada-13: 0.47;
  text-align: right;
}

main > *:nth-child(17n) {
  --cicada-17: 3.44;
}

main > *:nth-child(19n) {
  --cicada-19: -4.28;
}
