main > *:nth-child(1) {
  --child-number: 1;
}

main > *:nth-child(2) {
  --child-number: 2;
}

main > *:nth-child(3) {
  --child-number: 3;
}

main > *:nth-child(4) {
  --child-number: 4;
}

main > *:nth-child(5) {
  --child-number: 5;
}

main > *:nth-child(6) {
  --child-number: 6;
}

main > *:nth-child(7) {
  --child-number: 7;
}

main > *:nth-child(8) {
  --child-number: 8;
}

main > *:nth-child(9) {
  --child-number: 9;
}

main > *:nth-child(10) {
  --child-number: 10;
}

main > *:nth-child(11) {
  --child-number: 11;
}

main > *:nth-child(12) {
  --child-number: 12;
}

main > *:nth-child(13) {
  --child-number: 13;
}

main > *:nth-child(14) {
  --child-number: 14;
}

main > *:nth-child(15) {
  --child-number: 15;
}

main > *:nth-child(16) {
  --child-number: 16;
}

main > *:nth-child(17) {
  --child-number: 17;
}

main > *:nth-child(18) {
  --child-number: 18;
}

main > *:nth-child(19) {
  --child-number: 19;
}

main > *:nth-child(20) {
  --child-number: 20;
}

main > *:nth-child(21) {
  --child-number: 21;
}

main > *:nth-child(22) {
  --child-number: 22;
}

main > *:nth-child(23) {
  --child-number: 23;
}

main > *:nth-child(24) {
  --child-number: 24;
}

main > *:nth-child(25) {
  --child-number: 25;
}

main > *:nth-child(26) {
  --child-number: 26;
}

main > *:nth-child(27) {
  --child-number: 27;
}

main > *:nth-child(28) {
  --child-number: 28;
}

main > *:nth-child(29) {
  --child-number: 29;
}

main > *:nth-child(30) {
  --child-number: 30;
}

main > *:nth-child(31) {
  --child-number: 31;
}

main > *:nth-child(32) {
  --child-number: 32;
}

main > *:nth-child(33) {
  --child-number: 33;
}

main > *:nth-child(34) {
  --child-number: 34;
}

main > *:nth-child(35) {
  --child-number: 35;
}

main > *:nth-child(36) {
  --child-number: 36;
}

main > *:nth-child(37) {
  --child-number: 37;
}

main > *:nth-child(38) {
  --child-number: 38;
}

main > *:nth-child(39) {
  --child-number: 39;
}

main > *:nth-child(40) {
  --child-number: 40;
}

main > *:nth-child(41) {
  --child-number: 41;
}

main > *:nth-child(42) {
  --child-number: 42;
}

main > *:nth-child(43) {
  --child-number: 43;
}

main > *:nth-child(44) {
  --child-number: 44;
}

main > *:nth-child(45) {
  --child-number: 45;
}

main > *:nth-child(46) {
  --child-number: 46;
}
